@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$roboto: "Roboto", cursive;

$white: #e7f6f2;

$lightBlue: #a5c9ca;

$blue: #395b64;

$black: #2c3333;
